# Python
__pycache__/
*.pyc

# Caché y datos generados
cache/
registros/

# Entornos y secretos
.env

# Sistema
.DS_Store
Thumbs.db
# Configuraciones locales y claves API (¡NO SUBIR!)
configuraciones/config_general.json
configuraciones/uso_cuota.json
configuraciones/voces_favoritas.json
configuraciones/datos_lectura.json
configuraciones/libros_recientes.json
configuraciones/voces_disponibles.json

# Binarios externos portables (no se incluyen en el repo)
bin/*.exe
bin/*.dll
